header span{
    font-weight: bold;
}

header img{
    display: flex;
    flex-direction: column;
    max-width: 20%;
    text-align: center;
    margin: 0 auto;
}

header p{
    text-align: center;
    background-color: beige;
    border-top: 2px solid yellow;
    padding-top: 10px;
    padding-bottom: 10px;
}

main h1{
    text-align: center;
    margin: 0 auto;
    max-width: 50%;
}

.dimensioni{
    text-align: justify;
    margin: 10px auto 5px;
    max-width: 55%;
}

main img{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: 0 auto;
    height: 400px;
}

.principale{
    text-align: center;
}

.secondario{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 0 auto;
    max-width: 55%;
}

.featured{
    border-left: 2px solid yellow;
    text-align: justify;
}

.featured p{
    padding-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
}

aside h2{
    border-bottom: 2px solid aqua;
    padding-bottom: 20px;
}

.rosso{
    color: red;
}

aside ul{
    margin: 8px;
}

ul li{
    padding-top: 4px;
    padding-bottom: 4px;
}

ol p{
    text-align: left;
}